 


:root {
    --primary-color: #c369bc;
    --secondary-color: #f5bcff;
  }
  /*green:
      --primary-color: rgb(38 187 34);
    --secondary-color: rgb(218, 255, 217);
  default
  #c369bc
  tabs
  #b657af
  calendar background
  #f5bcff;
  logo
  #ca6fc3*/
  
body{
    margin: 0px;
   /* font-family: "Brush Script MT","Kalam", "Nunito","candara","arial";*/
    font-family: "Nunito","candara","arial";
    overflow-wrap: break-word;
    background: #fafafa;
}
#number-of-streaks-bubble{
    display: none;
    border-radius: 22px;
    /* border: 4px solid rgb(255 167 209); */
    border: 4px solid rgb(255 136 193);
    padding: 3px 5px 3px 6px;
    height: 21px;
    color: #ae49a6;
    background-color: #fcffe6;
}

#number-of-streaks-2{
    margin-right: 3px;
    font-size: 14px;
    margin-top: 1px;
    font-weight: bold;
}
#number-of-streaks-bubble .trophy-icon{
    margin-top: 3.5px;
    width: 16px;
    fill: var(--primary-color,#c369bc);
}
#number-of-streaks-bubble .trophy-icon svg{
    height: 20px;
    margin-top: 2px;
}
#unmute-icon{
    display: none;
}
.unmute-icon{
    position: fixed;
    z-index: 132;
    opacity: 0.8;
    background: var(--primary-color,#c369bc);
    border-radius: 100px;
    cursor: pointer;
}
/* #progress-title{
    box-shadow: 0px -2px 20px 0px rgb(0 0 0 / 20%);
} */
#streak-box{
    margin-top: 15px;
    display: none;
}
#streak-text{
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-color: rgb(255 136 193);
    text-decoration-thickness: 2.5px;
}
#number-of-streaks{
    margin-right: 5px;
    margin-left: 6px;
}
#streak-box .trophy-icon{
    margin-top: 3px;
}
.day-of-week-journal{
    color: #c369bc;
    font-weight: bold;
}
#daily-journal{
    /* width: 966px; */
    font-family: "Comic Sans", "Comic Sans MS", "Chalkboard", "ChalkboardSE-Regular", sans-serif;;
    font-size: 21px;
}
.text-label,.date-label{
    font-family: "Comic Sans", "Comic Sans MS", "Chalkboard", "ChalkboardSE-Regular", sans-serif;;
}
.text-label{
    font-size: 19px;
    margin-top: 11px;
}
#api-refresh{
    display: none;
}
#google-login-container{
    position: fixed;
    z-index: 9999;
    border: none;
    position: fixed;
    right: 20px;
    top: 20px;
}
#google-container-progress {
    height: max-content;
    display: none;
    background-color: #fffceb;
    order: 1;
    border: 5px solid #c369bc;
}
#google-container-progress .bold,#google-container .bold{
    font-size:19px;
}
#google-container,#google-container-progress{
    border-radius: 31px 7px 31px 7px;
}
.g_id_signin{
    margin-top: 13px;
    margin-bottom: 11px;
}
#signout_button{
    font-size: 15px;
    text-decoration: underline;
    color: #bbbbbd;
    display: none;
    cursor: pointer;
    /* clear:both;
    margin-bottom: 7px; */
    margin-left: 4px;
    margin-top: 10px;
}
.image-text-box{
    display: flex;
    justify-content: flex-start;
    width: 100%;

}
#google-image,#google-image-progress{
    width: 65px;
    border-radius: 16px;
    margin-bottom: 10px;
    float: left;
    margin-right: 10px;
    margin-top:10px;
    display: none;
    border: 1px solid lightgrey;
}
#login-text,#login-text-progress{
    padding-right: 2px;
    padding-left: 1px;
}
#login-text-progress{
    font-size: 1em;
}
#new-version-notification{
    display: none;
}

#progress-menu{
    display: none;
}
#habits-section{
    display: none;
}
#new-version-notification.show{
    display: flex;
}

#new-habit,.box.habit-setting{
    border-radius: 31px 7px 31px 7px;
}
.countdown-container{
    clear: both;
    display: flex;
}

.number-of-minutes,.number-of-seconds,.minutes-second-separator{
    font-size: 30px;
}
.countdown-button{
    width: 47px;
    height: 22px;
    fill: var(--primary-color,#c369bc);
    margin-left: 18px;
    cursor: pointer;
    margin-top: 4px;
}
#graphs-menu,#go-to-graph-button{
    display: none;
}
.earlier-button, .later-button{
    background: var(--primary-color,#c369bc);
    color: white;
    text-align: center;
    padding: 20px;
    float: left;
    padding: 9px;
    margin-right: 2px;
    width:54px;
}
.earlier-button{
    border-radius: 15px 0px 0px 15px;
}
.later-button{
    border-radius: 0px 15px 15px 0px;
}
.prio-settings{
    display: flex;
    clear: both;
    margin-bottom: 12px
}

.green{
    background:#17bc25;
    color:white;
}
.new-habit-focused{
    background:#fffceb;
    color:black;
}
.orange{
    background:var(--primary-color,#c369bc);
    color:white;
}
#header{
    width: 100%;
    text-align: center;
    color: white;
    background: rgb(250, 250, 250);
    margin: 0px;
    font-size: 15px;
    z-index: 100;
    cursor: pointer;
    position: fixed;
    top:0;
    opacity:1;
    border-bottom: 1px solid lightgray;
}
#nav-container{
    display: flex;
    flex-direction: row;
    margin-left: 9px;
    text-align: center;
    max-width: 925px;
}
#nav-container svg{
    padding-top:6px;
}
.horizontal-menu{
    list-style-type: none;
    margin: 6px 0px 0px 0px;
    text-align: left;
    float: left;
    padding-left:1px;
}
.horizontal-menu li{
    height: 30px;
    width: 90px;
    border-radius: 10px 10px 0px 0px;
    float: left;
    margin-right: 7px;
    margin-top: 0px;
    text-align:center;
    padding-top:8px;
    padding-left: 7px;
    background-color:var(--primary-color,#c369bc);
    border-bottom: 1px solid var(--primary-color,#c369bc);
    margin-bottom: -1px;
}
.horizontal-menu li.active{
    background: white;
    height: 29px;
    margin-bottom: -1px;
    border-bottom: 1px solid white;
    border-top: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
}

.main-title.fixed{
    position: fixed;
    width: 100%;
    height: 27px
}
.horizontal-submenu{
    list-style-type: none;
    margin: 0px;
    height: 27px; 
    padding-left: 8px;
}
.horizontal-submenu li{
    float: left;
    margin-right: 24px;
    height: 30px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 7px;
    font-weight: bold;
}
.horizontal-submenu li.selected-underline{
    float: left;
    border-bottom: 4px solid var(--primary-color,#c369bc);
}
.submenu-icon{
    margin-right: 8px;
}
.save-icon,.delete-icon{
    float: left;
    padding-left: 4px;
}
a, a:active, a:visited, a span {
    text-decoration: none;
    color: white;
    margin-right: 5px;
}
li.active a, li.active a:active, li.active a:visited, li.active a span {
    color: black;
    font-weight: bold;
}

.filter-bar{
    background: white;
    opacity: 1;
    max-width: 500px;
    height: 30px;
    margin: 0px 0px 10px 0px;
    padding: 10px;
    border-radius: 5px;
    box-shadow:-1px 2px 17px 5px rgb(0 0 0 / 20%);
}

.divider{
    margin-bottom:65px;
}
.box{
    padding: 19px;   
    border-radius:  31px 7px 80px 16px;
}
.box.streak-box{
    border-radius: 7px 84px 7px 75px;
}
.box.with-countdown{
    border-radius: 31px 7px 23px 16px;
}
.input-title{
    padding-top: 15px;
}
.main-section{
    margin-top:42px;
    padding-bottom: 80px;
    background: rgb(250, 250, 250);
}
.habit-graph{
    background: white;
}
.box.new-habit,.habit-setting,.new-habit-focused{
    width: 225px;
    padding: 20px;
}

.box{
    border: 1px solid  lightgray;
    /* box-shadow: -1px 20px 20px 0px rgb(0 0 0 / 20%); */
}
.box.new-habit-focused{
    border: 5px solid var(--primary-color,#c369bc);
}

.box.canva-wrapper{
    width:300px;
    height:360px; 
    font-weight:bold;
}
.box.canva-wrapper.week-box{
    height: 120px;
}
.box.canva-wrapper.streak-box{
    height: 260px;
}
.box.habit-update,.box.big-action-button,.daily-summary{
    width:200px;
    height: 190px;
    padding: 20px;
}
.box.habit-update{
    background-color: white;
    order: 80;
}

.box.big-action-button:hover{
    background: #cb79c5;
    border: 1px solid #cb79c5;
}

.plus-button:hover, .minus-button:hover,.plus-button.normal:hover, .minus-button.normal:hover{
    background: #cb79c5;
}
.box.big-action-button{
    background-color:var(--primary-color,#c369bc);
    display: flex;
    color: white;
    font-weight: bold;
    font-size: 26px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    order:500;
    border: 1px solid var(--primary-color,#c369bc);
    width:213px
}
.huge-button{
    width: 208px;
    height: 355px;
    background-color: var(--primary-color,#c369bc);
    box-shadow: -1px 2px 14px 0px rgb(0 0 0 / 20%);
    color: white;
    font-size: 23px;
    font-weight: bold;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
}
.huge-button i{
    font-size:100px;
}

.main-title{
    padding: 14px 12px 13px 12px;
    border-bottom: 1px solid lightgray  ;
    background: white;
}

.week-day-selection,.habits-container,.habits-definition-container,.filter-bar,.week-summary-container,.main-action-bar,#progress-title,#footer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
}
.habits-container,.week-summary-container,.habits-definition-container{
    justify-content: space-evenly;
    background: rgb(250, 250, 250);
    
}
.week-summary-container{
    display: flex;
}
#streaks-container,#streaks-link{
    display: none;
}
.main-action-bar, .myChart {
    width: 100%;
}
h2{
    color: #424242;
    margin: 0px;
}

.update-button{
   color: white;
   margin:10px 20px 0px 0px;
   padding:10px;
   border-radius: 5px;
   width: 200px;
   text-align: center;
   cursor: pointer;
}
.side-title{
    margin-right: 30px;
}

#habit-filters{
    margin-top: 6px;
}

.progress-container{
    font-size: 13px;
    color: #423e3e;
    margin-top: 3px;
    clear: both;
    padding-top: 10px;
    margin-bottom: 0px;
}
.number-of-completion[type=number]{
    width: 69px;
    font-size: 26px;
    margin-top: 6px;
    height: 41px;
    float: left;
    text-align: left;
    padding-left: 12px;
    font-family: "lucida console";
}
.simple-checkbox{
    float: left;
    margin-bottom: 12px;
}

/*.percentage-completion::after{
    content: " %";
}*/

.percentage-completion{
    display: none;
}


.habit-description{
    font-weight: bold;
    color:#404040;
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-color: #c4c4c4;
    text-decoration-thickness: from-font; 
}

i{
    margin-right: 6px;  
}
.bold{
    font-weight: bold;
}
#new-description,.habit-description-definition{
    width: 213px;
    margin-bottom: 10px;
}

#footer{
    display: none;
    position: fixed;
    bottom: 0px;
    background: white;
    width: 100%;
    padding: 0px 10px 32px 10px;
    box-shadow: -1px 2px 20px 0px rgb(0 0 0 / 20%);
}

.plus-button, .minus-button{

    width: 25px;
    text-align: center;
    height: 35.7px;
    padding-top: 9px;
    float:left;
    cursor:pointer;
}
.plus-button.normal, .minus-button.normal{
    background: var(--primary-color,#c369bc);
    color: white;
}

.plus-button.inverted, .minus-button.inverted{
    color: var(--primary-color,#c369bc);
    background: white;
}

.plus-button{
    margin: 6px 5px 0px 0px;
    border-radius: 0px 20px 20px 0px;
}
.minus-button{
    margin: 6px 0px 0px 0px;
    border-radius: 20px 0px 0px 20px;
}
.side-text{
    float: left;
    margin-top: 14px;
}

.label{
    clear: both;
}

.add-button{
    font-size: 23px;
    clear: both;
    background: var(--primary-color,#c369bc);
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 9px;
    margin-top: 16px;
    cursor:pointer;
}

.target-container{
    width: 150px;
    height: 50px;
}

.weekday{
    margin: 3px;
    padding: 4px;
    cursor: pointer;
    font-size:13px;
    width: 13px;
    border-radius: 13px;
    text-align: center;
}
.weekday.selected{
    color:white;
    background-color: var(--primary-color,#c369bc);
}
.weekday{
    color: #b5b5b5;
}
.week-day-selection{
    margin-top: 13px;
    margin-bottom: 10px;
    max-width: 305px;
}
.habit-description-definition{
    margin-bottom: 10px;
}
.habit-setting,.new-habit{
    background: white /*#fefff3*/;
}

.habit-title{
    font-weight: bold;
    margin-bottom: 20px;
}
.box.big-action-button i{
    font-size:100px;
}
#progress-section,#graphs-section{
    display: none;
}

.overlay-for-message,.positive-message,.super-positive-message{
    width: 100%;
    height: 100%;
    
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}
.overlay-for-message{
    background-color: rgba(0,0,0,0.4);
    z-index: 100;
}

.message-in-overlay{
    width:60%;
    background-color:#f5f5f5;
    opacity:1;
    padding: 20px;
    border-radius: 10px;
}
.positive-message{
    background-color: var(--primary-color,#c369bc);
    z-index: 102;
    color: white;
}  
.super-positive-message{
    background-color: var(--primary-color,#c369bc);
    z-index: 102;
    color: white;
}

#positive-message i,#super-positive-message i{
    animation-duration: 0.25s;
    animation-name: arriveFromLeft;
}

#positive-message-title,#super-positive-message-title
{
    opacity: 0;
    animation-duration: 0.25s;
    animation-name: appearWithColor;
    animation-delay: 0.25s;
    animation-fill-mode: forwards;
}
#positive-message-subtitle,#super-positive-message-subtitle
{
    opacity: 0;
    animation-duration: 0.5s;
    animation-name: appearWithColor;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}
@keyframes arriveFromLeft {
    from {
        margin-right: 100%;
    }
    75% {
        font-size: 300%;
        margin-left: 0%;
      }
    to {
        margin-left: 0%;
    }
  }
@keyframes appearWithColor {
    from {
        opacity: 0;
    }
  
    to {
        opacity: 1;
    }
  }

.positive-message-button,.super-positive-message-button{
    background-color: white;
    width: 200px;
    font-size: 18px;
    padding: 15px;
    border-radius: 30px; 
    cursor:pointer;
    text-align: center;
}
.positive-message-button{
    color: var(--primary-color,#c369bc);
}
.super-positive-message-button{
    color: var(--primary-color,#c369bc);
}

.positive-message .icon,.super-positive-message .icon{
    font-size:88px;
}


#date-filter{
    /* border: 2px solid var(--primary-color,#c369bc);
    border-radius: 6px;
    padding-left: 10px;
    padding-right: 10px;
    background: var(--secondary-color,#c369bc); */
    
    /* border: 4px solid rgb(255 167 209); */
    border: 4px solid rgb(255 136 193);
    border-radius: 22px;
    padding-left: 10px;
    padding-right: 10px;
    color: #ae49a6;
    background-color: #fcffe6;
    width: 94px;
    height: 27px;
    font-size: 13px;
    font-weight: bold;
}
input, textarea{
    border: 1px solid lightgrey;
    font-family: "Nunito","candara","arial";
    background-color: white;
}
input[type="date"],textarea{
    border-radius: 5px;
}
textarea{
    padding:5px;
}

#last-saved-information, #last-saved-information-habits{
    color: lightgrey;
    font-size: 13px;
    display: block;
    margin-top: 9px;
}
#last-saved-information-habits{

    margin-left: 21px;
}

.date-label{
    color:#838383;
}

.hidden{
    display:none;
}
.subtitle{
    color: grey;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 100;
}

.critical-link{
    margin-top: 12px;
    text-decoration: underline;
    font-weight: normal;
    color: #a750a1;
    cursor: pointer;
}
table {
    border-collapse: collapse;
}

th {
    border-bottom: 1px solid rgb(196, 196, 196);
    font-weight:100;
    color: #545454;
}
th.today,.fa-circle-o.today{
    color:#d330cb;
    font-weight: bold;
}
th.past{
    color:#919191;
}

td,th, td i{
    width:30px;
    text-align: center;
}
td{
    padding-top: 6px;
}
td i{
    margin-left: 7px;
    color: #55d355;
    padding-top: 3px;
}
td,.red,.fa-warning{
    color:red;
}

.task-icon-container{
    width: 16px;
    float:left;
    margin-right:7px;
    padding-top:2px;
}
.task-icon-container.trophy-icon{
    padding-top:7px; 
}
:nth-col(2n+1) {
    background-color: pink;
}
.graph-title{
    margin-bottom: 15px;
}
.journal-container-day{
    padding: 33px 35px 35px 32px;
    margin: 0px 20px 0px 20px;
    border: 1px solid  lightgray;
    border-radius: 12px;
    background: white;
    display: block;
}
.journal-container{
    margin: 84px 0px 0px 0px;
}

.journal-container-wrapper{
    display:  none;
}

#debug-section{
    display: none;
}
#daily-summary-container{
    order:179;
    display:none;
    border: 4px dashed rgb(255 167 209);
}
#daily-summary-comment{
    margin-top: 25px;
    padding-left: 14px;
    width: 106px;
    float: left;
    font-weight: bold;  
}
#daily-summary{
    margin-top:6px;
    float:left;
}
#no-week-summary,#no-streak{
    margin-top:10px;
}

/* CHECKBOX CUSTOM */
.custom-checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 26px;
    height: 15px;
    margin-top: 13px;
  }
  
.habit-setting .custom-checkbox-container{
    margin-top: 3px;
    padding-bottom:14px;
}
  /* On mouse-over, add a grey background color */
.custom-checkbox-container:hover input ~ .checkmark {
    background-color: #f0c0f1;
  }

  /* Hide the browser's default checkbox */
  .custom-checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: white;
    border: 1px solid #939393;
    border-radius: 5px;
  }
  
  
  /* When the checkbox is checked, add a blue background */
  .custom-checkbox-container input:checked ~ .checkmark {
    background-color: var(--primary-color,#c369bc);
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .custom-checkbox-container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .custom-checkbox-container .checkmark:after {
    left: 9px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
/* end checkbox custom */

@media (min-width: 400px) and (max-width:649px){
    .main-title-only{
        width:100%;
    }

}
/* mobile phone */
@media (max-width: 649px){
    #number-of-streaks-bubble{
        margin: 5px 0px 0px 13px;
    }
    .main-title-only{
        width: 100%;
    }
    .unmute-icon svg{
        width: 47px;
        height: 75px;
        margin-left: 9px;
    }
    .unmute-icon{
        width: 75px;
        height: 75px;
        bottom: 7px;
        left:7px;
    }
    #daily-journal{
        width:95.7%;
    }
    #login-text,#login-text-progress{
        margin-top:8px;
    }
    .number-of-minutes,.minutes-second-separator,.number-of-seconds{
        margin-top:9px;
    }
    .number-of-seconds{
        margin-right: 31px;
    }
    #streaks-container, #week-summary-container{
        padding-top: 64px;
    }
    #daily-summary-comment{
        width: 150px;
        font-size: 20px;
        margin-top:14px;
        padding-left:27px;
    }

    #progress-title{
        margin-bottom: 2px;
    }
    .box{
        border-radius: 24px 12px 27px 12px;
    }
    .habits-container,.habits-definition-container,.filter-bar,.week-summary-container,.main-action-bar,#footer{
        justify-content: space-around;
    }
    .action-input {
        margin-left: 10px;
        margin-right: 12px;
        margin-top: -6px;
    }
    #habit-filters{
        display: none;
    }
    .box{
    margin:13px 0px 0px 0px;
    }
    #date-filter{
        margin: 6px 0px 0px 0px;

    }
    .positive-message .sub-title,.super-positive-message .sub-title,.super-positive-message .title, .positive-message .title{
        margin:20px;
    }
    .positive-message .title,.super-positive-message .title{
        font-size:47px;
        text-align: center;
    }
    .positive-message .sub-title,.super-positive-message .sub-title{
        font-size: 34px;
        text-align: center;
    }

    .habit-description{
        font-size: 21px;
        float: left;
        width: 225px;
        margin-bottom: 6px;
        margin-top:2px;
    }

    .progress-container{
        font-size: 18px;
    }

    .box.habit-update, .box.daily-summary, .box.big-action-button,#google-container-progress,#google-container{
        /* width: 297px; */
        width: calc(100% - 10px);
        border-width: 1px;
        margin: 15px 15px 0px 15px;
    }
    .box.big-action-button{
        margin:13px;
    }
    .daily-summary{
        height: 161px;
    }

    .number-of-completion[type=number]{
        height: 74px;
        margin-top: 15px;
    }

    .box.habit-update,#google-container-progress,#google-container {
        height: max-content;
    }
    .plus-button, .minus-button{
        width: 48px;
        height: 48.5px;
        font-size: 26px;
        margin-top: 15px;
    }
    
    .minus-button{
        border-radius: 40px 0px 0px 40px;
    }

    .plus-button{
        border-radius: 0px 40px 40px 0px;
    }

    .progress-container{
        font-size: 18px;
    }

    .side-text {
        margin-top: 32px;
        margin-left: 10px;
    }

    .box.new-habit,.habit-setting,.new-habit-focused{
        width: calc(100% - 10px);
        padding: 20px;
        margin: 15px 15px 0px 15px;
    }

    .week-day-selection{
        clear: left;
    }
    .target-container{
        width: 208px;
    }

    .number-of-completion[type=number] {
        width: 62px;
        height: 55.5px;
        margin-bottom: 13px;
        margin-top: 15px;
        padding-bottom:0px;
        padding-top:0px;
    }

    #new-description, .habit-description-definition {
        margin-top: 12px;
        width: calc(100% - 20px);
    }
    
    .weekday{
        font-size: 23px;
        width: 25px;
        border-radius: 25px;
    }

    .horizontal-menu li.active {
        height: 29px;
    }

    #last-saved-information{
        margin-top: 13px;
        margin-left: 10px;
    }
    .box.habit-update i.fa.fa-plus,.box.habit-update i.fa.fa-minus,.plus-minus{
        float: right;
        margin-top: 5px;
        font-size: 24px;
        position: relative;
        width:25px;
    }
    .plus-minus{
        color:var(--primary-color,#c369bc);
    }
    .habit-description i,.task-icon-container{
        display: none;
    }
    .progress-details{
        display: none;
        padding-bottom: 12px;
    }
    .box.habit-update, .box.big-action-button, .daily-summary, #google-container-progress, #google-container{
        padding: 10px 17px 5px 18px;
    }
    #daily-summary-container{
        padding-bottom: 17px;
    }
}
/* desktop */
@media (min-width: 650px){
    #number-of-streaks-bubble{
        margin: 1px 0px 0px 13px;
    }
    .unmute-icon svg{
        width: 77px;
        height: 67px;
        margin-top: 11px;
        margin-left: 5px;
    }
    .unmute-icon{
        width: 89px;
        height: 91px;
        bottom: 12px;
        left:12px;
    }
    #daily-journal{
        width:98.7%;
    }
    #login-text,#login-text-progress{
        margin-top: 5px;
    }
    #text-filter{
        margin-top: 3px;
    }
    #streaks-container, #week-summary-container{
        padding-top: 78px;
    }

    #daily-summary-comment{
        width: 106px;
        font-size: 14px;
    }
    .box{
    margin:20px;
    }
    .action-input{
        margin-left: 16px;
        margin-right: 16px;
        margin-top: 1px;
    }
    .positive-message .title,.super-positive-message .title{
    font-size:69px;
    }
    .positive-message .sub-title,.super-positive-message .sub-title{
        font-size:45px;
    }
    .box.habit-update i.fa.fa-plus,.box.habit-update i.fa.fa-minus,.plus-minus{
        display: none;
    }
    .box.habit-update,#daily-summary-container{
        height: 206px;
    }
    .box.habit-update,#daily-summary-container,#google-container-progress,#google-container{
        padding: 10px 15px 10px 15px;
        width: 225px;
    }
    .box.habit-update, #google-container-progress,.box.daily-summary, .box.big-action-button, .box.big-action-button:hover{
        border-width: 1px;
    }
    .habit-description{
        height: 65px;
        font-size: 20px;
    }
    .daily-summary{
        height: 190px;
    }

}
/*galaxy folder*/
@media (max-width:346px){
    #number-of-streaks-bubble{
        margin: 6px 0px 0px 8px;
    }
    #signout_button{
        margin-left: 0px;
    }
    #login-text,#login-text-progress{
        margin-top:8px;
    }
    .navbar-brand{
        display:none;
    }
    #nav-container{
        margin-left:0px;
    }
    .horizontal-menu li{
        margin-right:0px;
        padding-left:0px;
    }
    .horizontal-submenu li{
        margin-right: 15px;
    }
    #new-description{
        width:209px;
    }
    .box.new-habit,.habit-setting,.new-habit-focused{
        width: 224px;
    }
    .habit-description{
        width:187px;
    }
    #daily-summary-comment {
        width: 128px;
    }
    .daily-summary {
        height: 177px;
    }
    td, th, td i {
        width: 20px;
    }
    .box.habit-update, .box.big-action-button, .daily-summary, #google-container-progress, #google-container,#daily-summary-container,.box.habit-settings{
        margin-left:0px;
        margin-right:0px;
    }
    .habit-description-definition{
        width:198px;
    }
}