 
body{
    margin: 0px;
    font-family: "Nunito","candara","arial";
    overflow-wrap: break-word;
    /*background: linear-gradient(71deg, #b1a1e5, #ffb3b3);*/
}
.green{
    background:#17bc25;
    color:white;
}
.blue{
    background:#f9efff;
    color:black;
}
.orange{
    background:#b657af;
    color:white;
}
#header{
    width: 100%;
    /*height: 57px;*/
    text-align: center;
    color: white;
   /* background: linear-gradient(167deg, #b1a1e5, #ffb3b3);*/
    background: rgb(250, 250, 250);/*#ecabf7;*/
    margin: 0px;
    font-size: 15px;
    z-index: 100;
    cursor: pointer;
    position: fixed;
    top:0;
    opacity:1;
    border-bottom: 1px solid lightgray;
}
#nav-container{
    display: flex;
    flex-direction: row;
    /*margin-left: auto;
    margin-right: auto;*/
    margin-left: 19px;
    text-align: center;
    max-width: 925px;
    /*padding-top: 12px;*/
}
#nav-container svg{
    padding-top:6px;
}
.horizontal-menu{
    list-style-type: none;
    margin: 6px 0px 0px 0px;
    text-align: left;
    float: left;
    padding-left:10px;
}
.horizontal-menu li{
    height: 30px;
    width: 86px;
    border-radius: 10px 10px 0px 0px;
    float: left;
    margin-right: 7px;
    margin-top: 0px;
    text-align:center;
    padding-top:8px;
    background-color:#b657af;
    border-bottom: 1px solid #b657af;
    margin-bottom: -1px;
}
.horizontal-menu li.active{
    background: white;
    height: 29px;
    margin-bottom: -1px;
    border-bottom: 1px solid white;
    border-top: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
}

.main-title.fixed{
    position: fixed;
    width: 100%;
    height: 27px
}
.horizontal-submenu{
    list-style-type: none;
    margin: 0px;
    height: 27px; 
    padding-left: 8px;
}
.horizontal-submenu li{
    float: left;
    margin-right: 24px;
    height: 42px;
    cursor: pointer;
    font-size: 19px;
    font-weight: bold;
}
.horizontal-submenu li.selected-underline{
    float: left;
    border-bottom: 4px solid #b657af;
    height: 42px;
}
a, a:active, a:visited, a span {
    text-decoration: none;
    color: white;
    margin-right: 5px;
}
li.active a, li.active a:active, li.active a:visited, li.active a span {
    color: black;
    font-weight: bold;
}

.filter-bar{
    background: white;
    opacity: 1;
    max-width: 500px;
    height: 30px;
    margin: 0px 0px 10px 0px;
    padding: 10px;
    border-radius: 5px;
    box-shadow:-1px 2px 17px 5px rgb(0 0 0 / 20%);
}
#progress-section{
    /*margin-top: 80px;*/
}
.divider{
    margin-bottom:65px;
}
.box{
    padding: 19px;   
    border-radius: 40px;
}


.box,.filter-bar{
    /*background:white;*/
}
.main-section{
    margin-top:42px;
    padding-bottom: 80px;
    background: rgb(250, 250, 250);
}
.habit-graph{
    background: white;
}
.box.new-habit,.habit-setting{
    width: 208px;
    /*height: 407px;*/  
    padding: 20px;
}

.box{
    border: 1px solid  lightgray;
}
.box.new-habit{
    /*box-shadow: rgb(193 193 193) -1px 2px 13px 2px;*/
    border: 1px solid #c79bf0;
}
.habit-setting{
    /*box-shadow: rgb(235 235 235) -1px 2px 10px 4px;*/
}
.box.canva-wrapper{
    width:300px;
    height:360px; 
    /*box-shadow: 1px 12px 17px 5px rgb(159 159 159 / 20%);*/
    font-weight:bold;
}
.box.canva-wrapper.week-box{
    height: 98px;
}
.box.canva-wrapper.streak-box{
    height: 242px;
}
.box.habit-update,.box.big-action-button,.daily-summary{
    width:200px;
    height: 190px;
    padding: 20px;
}
.box.habit-update{
    background-color: #fcfbfb;
}

.box.big-action-button:hover{
    /*box-shadow: -1px 2px 17px 7px rgb(255 168 168);*/
   /* transform: scale(1.05);
    transition: transform 0.5s;*/
    background: #cb79c5;
    border: 1px solid #cb79c5;
}
/*
.minus-button:hover{
    box-shadow:-3px 0px 6px 1px rgb(255 168 168);
}
.plus-button:hover{
    box-shadow: 2px 0px 6px 1px rgb(255 168 168);
}*/
.plus-button:hover, .minus-button:hover,.plus-button.normal:hover, .minus-button.normal:hover, #date-filter:hover{
    background: #cb79c5;
}
.box.big-action-button{
    background-color:#b657af;
    display: flex;
    color: white;
    font-weight: bold;
    font-size: 26px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /*box-shadow: -1px 2px 10px 0px rgb(255 168 168);*/
    cursor: pointer;
    order:100;
    border: 1px solid #b657af;
}
.huge-button{
    width: 208px;
    height: 355px;
    background-color: #b657af;
    box-shadow: -1px 2px 14px 0px rgb(0 0 0 / 20%);
    color: white;
    font-size: 23px;
    font-weight: bold;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
}
.huge-button i{
    font-size:100px;
}
.box.habit-update,.daily-summary{
    /*background-color:#fff6f9;
    box-shadow: rgb(233 206 206) -1px 2px 10px 0px;*/
    /*background-color: "white" ;
    box-shadow: "rgb(191 179 179) -1px 2px 10px 0px";*/

}

.main-title{
    padding: 14px 12px 18px 12px;
    border-bottom: 1px solid lightgray  ;
    background: white;
    /*box-shadow: -5px 16px 20px 0px rgb(0 0 0 / 12%);*/
    /*margin-bottom: 15px;*/
}

.week-day-selection,.habits-container,.habits-definition-container,.filter-bar,.graph-container,.main-action-bar,#progress-title,#footer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
}
.habits-container,.graph-container,.habits-definition-container{
    justify-content: space-evenly;
    background: rgb(250, 250, 250);
    
}
.graph-container{
    padding-top: 76px;
    display: flex;
}
#streaks-container{
    padding-top: 76px;
    display: none;
}
.main-action-bar, .myChart {
    width: 100%;
}
h2{
    color: #424242;
    margin: 0px;
}

.update-button{
   color: white;
   margin:10px 20px 0px 0px;
   padding:10px;
   border-radius: 5px;
   width: 200px;
   text-align: center;
   cursor: pointer;
}
.side-title{
    margin-right: 30px;
}

#habit-filters{
    margin-top: 3px;
}

.progress-container{
    font-size: 13px;
    color: #423e3e;
    margin-top: 3px;
    clear: both;
    padding-top: 10px;
}
.number-of-completion[type=number]{
    width: 57px;
    font-size: 30px;
    margin-top: 6px;
    float:left;
    text-align: center;
}
/*.number-of-completion[type=checkbox]{
    width: 26px;
    height: 27px;
    font-size: 30px;
    margin-top: 13px;
}*/
.percentage-completion::after{
    content: " %";
}
.habit-description{
    font-weight: bold;
    color:#404040;
}
i{
    margin-right: 6px;  
}
.bold{
    font-weight: bold;
}
#new-description,.habit-description-definition{
    width: 191px;
    margin-bottom: 10px;
}

#footer{
    display: none;
    position: fixed;
    bottom: 0px;
    background: white;
    width: 100%;
    padding: 0px 10px 32px 10px;
    box-shadow: -1px 2px 20px 0px rgb(0 0 0 / 20%);
}

.plus-button, .minus-button{

    width: 25px;
    text-align: center;
    height: 35.5px;
    padding-top: 9px;
    float:left;
    cursor:pointer;
}
.plus-button.normal, .minus-button.normal{
    background: #b657af;
    color: white;
}

.plus-button.inverted, .minus-button.inverted{
    color: #b657af;
    background: white;
}

.plus-button{
    margin: 6px 5px 0px 0px;
    border-radius: 0px 20px 20px 0px;
}
.minus-button{
    margin: 6px 0px 0px 0px;
    border-radius: 20px 0px 0px 20px;
}
.side-text{
    float: left;
    margin-top: 14px;
}

.label{
    clear: both;
}

.add-button{
    font-size: 23px;
    clear: both;
    background: #b657af;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 29px;
    margin-top: 16px;
    cursor:pointer;
}

.target-container{
    width: 122px;
    height: 50px;
}

.weekday{
    margin: 3px;
    padding: 4px;
    cursor: pointer;
    font-size:13px;
    width: 13px;
    border-radius: 13px;
    text-align: center;
}
.weekday.selected{
    color:white;
    background-color: #b657af;
}
.weekday{
    color: #b5b5b5;
}
.week-day-selection{
    margin-top: 13px;
}
.habit-description-definition{
    margin-bottom: 10px;
}
.habit-setting{
    background: white /*#fefff3*/;
}

.habit-title{
    font-weight: bold;
    margin-bottom: 20px;
}
.box.big-action-button i{
    font-size:100px;
}
#progress-section,#graphs-section{
    display: none;
}

.overlay-for-message,.positive-message{
    width: 100%;
    height: 100%;
    
    position: fixed;
    top: 0;
    left: 0;
    /*display: flex;*/
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}
.overlay-for-message{
    background-color: rgba(0,0,0,0.4);
    z-index: 100;
}

.message-in-overlay{
    width:60%;
    /*height:60%;*/
    background-color:white;
    opacity:1;
    padding: 20px;
    border-radius: 10px;
    /*margin: auto;*/
}
.positive-message{
    /*display: flex;*/
    background-color: #b657af;
    z-index: 102;
    color: white;
}  

#positive-message i{
    animation-duration: 0.25s;
    animation-name: arriveFromLeft;
}

#positive-message-title
{
    opacity: 0;
    animation-duration: 0.25s;
    animation-name: appearWithColor;
    animation-delay: 0.25s;
    animation-fill-mode: forwards;
}
#positive-message-subtitle
{
    opacity: 0;
    animation-duration: 0.5s;
    animation-name: appearWithColor;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}
@keyframes arriveFromLeft {
    from {
        margin-right: 100%;
    }
    75% {
        font-size: 300%;
        margin-left: 0%;
      }
    to {
        margin-left: 0%;
    }
  }
@keyframes appearWithColor {
    from {
        opacity: 0;
    }
  
    to {
        opacity: 1;
    }
  }

.positive-message-button{
    background-color: white;
    color: #b657af;
    width: 200px;
    font-size: 18px;
    padding: 15px;
    border-radius: 30px; 
    cursor:pointer;
    text-align: center;
}
.positive-message .icon{
    font-size:88px;
}
#daily-journal{
    width:100%;
}

#date-filter{
    border: 2px solid #b657af;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
    background: #f5bcff;
}
input, textarea{
    border: 1px solid lightgrey;
    font-family: "Nunito","candara","arial";
    background-color: white;
}
input[type="date"],textarea{
    border-radius: 5px;
}
#habits-section{
    display:none;
}
#last-saved-information, #last-saved-information-habits{
    color: lightgrey;
    font-size: 13px;
    display: block;
    margin-top: 9px;
}
#last-saved-information-habits{

    margin-left: 21px;
}

.date-label{
    color:#838383;
}

.hidden{
    display:none;
}
.subtitle{
    color: grey;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 100;
}

table {
    border-collapse: collapse;
}

th {
    border-bottom: 1px solid rgb(196, 196, 196);
    font-weight:100;
    color: #545454;
}
td,th, td i{
    width:30px;
    text-align: center;
}
td i{
    margin-left: 7px;
    color: #55d355;
    padding-top: 3px;
}
td{
    color:red;
}
:nth-col(2n+1) {
    background-color: pink;
}
.graph-title{
    margin-bottom: 15px;
}
.journal-container{
    padding: 40px 35px 35px 35px;
    margin: 84px 10px 10px 10px;
    border: 1px solid  lightgray;
    border-radius: 25px;
    background: white;
    display: block;
}
.journal-container-wrapper{
    display:  none;
}

#debug-section{
    display: none;
}
#daily-summary-container{
    order:90;
    display:none;
}

#daily-summary{
    margin-top:10px;
}
#no-graph{
    margin-top:10px;
}

/* CHECKBOX CUSTOM */
.custom-checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 26px;
    height: 15px;
    margin-top: 13px;
  }
  
  /* On mouse-over, add a grey background color */
.custom-checkbox-container:hover input ~ .checkmark {
    background-color: #f0c0f1;
  }

  /* Hide the browser's default checkbox */
  .custom-checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: white;
    border: 1px solid #939393;
    border-radius: 5px;
  }
  
  
  /* When the checkbox is checked, add a blue background */
  .custom-checkbox-container input:checked ~ .checkmark {
    background-color: #b657af;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .custom-checkbox-container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .custom-checkbox-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
/* end checkbox custom */

@media (min-width: 400px) and (max-width:649px){
    .main-title-only{
        width:100%;
    }
}

@media (max-width: 649px){

    #progress-title{
        margin-bottom: 10px;
    }
    .box{
        border-radius: 22px;
    }
    .habits-container,.habits-definition-container,.filter-bar,.graph-container,.main-action-bar,#footer{
        justify-content: space-around;
    }
    .action-input {
        margin-left: 10px;
        margin-right: 12px;
        margin-top: -6px;
    }
    #habit-filters{
        display: none;
    }
    .box{
    margin:13px 0px 0px 0px;
    }
    #date-filter{
        margin: 10px 0px 0px 0px;

    }
    .positive-message .sub-title{
        margin:20px;
    }
    .positive-message .title{
        font-size:47px;
        text-align: center;
    }
    .positive-message .sub-title{
        font-size: 34px;
        text-align: center;
    }

    .habit-description{
        font-size: 20px;
        float: left;
        width: 225px;
        margin-bottom: 6px;
        margin-top:2px;
    }

    .progress-container{
        font-size: 18px;
    }

    .box.habit-update, .box.daily-summary, .box.big-action-button{
        width: 300px;
    }
    .box.big-action-button{
        margin:13px;
    }
    .daily-summary{
        height: 161px;
    }

    .number-of-completion[type=number]{
        height: 54px;
        margin-top: 15px;
    }

    .box.habit-update {
        height: max-content;
    }
    .plus-button, .minus-button{
        width: 48px;
        height: 48.5px;
        font-size: 26px;
        margin-top: 15px;
    }
    
    .minus-button{
        border-radius: 40px 0px 0px 40px;
    }

    .plus-button{
        border-radius: 0px 40px 40px 0px;
    }

    .progress-container{
        font-size: 18px;
    }

    .side-text {
        margin-top: 32px;
        margin-left: 10px;
    }

    .box.new-habit,.habit-setting{
        width: 281px;
        /*height: 407px;*/  
        padding: 20px;
    }

    .week-day-selection{
        clear: left;
    }
    .target-container{
        width: 180px;
    }

    .number-of-completion[type=number] {
        width: 57px;
        height: 54px;
        margin-bottom: 13px;
        margin-top: 15px;
    }

    #new-description, .habit-description-definition {
        margin-top: 12px;
        width: 272px;
    }
    
    .weekday{
        font-size: 23px;
        width: 25px;
        border-radius: 25px;
    }

    .horizontal-menu li.active {
        height: 29px;
    }

    #last-saved-information{
        margin-top: 13px;
        margin-left: 10px;
    }
    .box.habit-update i.fa.fa-plus,.box.habit-update i.fa.fa-minus{
        float: right;
        margin-top: 5px;
        font-size: 24px;
       /* -ms-transform: translateY(-50%);
        transform: translateY(-50%);*/
        position: relative;
        width:25px;
    }
    .box.habit-update i.fa.fa-plus{
        color: #b657af;
    }
    .habit-description i{
        display: none;
    }
    .progress-details{
        display: none;
    }
}
@media (min-width: 650px){
    .box{
    margin:20px;
    }
    .action-input{
        margin-left: 16px;
        margin-right: 16px;
        margin-top: 5px;
    }
    .positive-message .title{
    font-size:69px;
    }
    .positive-message .sub-title{
        font-size:45px;
    }
    .box.habit-update i.fa.fa-plus,.box.habit-update i.fa.fa-minus{
        display: none;
    }
    .habit-description{
        height: 65px;
    }
    .daily-summary{
        height: 190px;
    }

}
